
*{
    background-color: rgb(206, 253, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.text-center {
    margin: auto;
    padding: 15px;
}
.input {
    width: 100%;
}
.hover-item {
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .hover-item:hover {
    background-color: #f8f9fa;
    
  }
.check {
    color: #02cf6f !important; 
    opacity: 0;
    transition: all 0.3s ease;
}
.check:hover {
    cursor: pointer;
    opacity: 0.5;

  }
.task {
    font-size: small;
    text-align: start;
}
